In [1]:
## import libraries
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
# read html page downloaded using selenium
with open('allel_links.html','r',encoding='utf-8') as f:
    html = f.read()

In [3]:
# Run documnent through BeautifulSoup Object.
soup = BeautifulSoup(html,'lxml')

In [4]:
## Extract all the tables from html file.
container =soup.find_all('table',{'class':'tblNormal'})

In [5]:
# Check 2 table from html page.
container[1]

<table class="tblNormal"><tbody><tr><th width="330">Population</th><th width="90">Ethnicity</th><th colspan="2" width="90">Study</th><th width="90">Sample Size</th><th width="300">HLA Loci</th></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Andhra Pradesh Brahmin">India Andhra Pradesh Brahmin</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">98</td><td align="center"> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Andhra Pradesh Golla">India Andhra Pradesh Golla</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">111</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Andhra Pradesh Sunni">India Andhra Pradesh Sunni</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">100</td><td align="center"> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Andhra Pradesh Telugu Speaking">India Andhra Pradesh Telugu Speaking</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">186</td><td align="center"> C<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_gold.gif" width="14"/> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Bikaner Non-Raikas ">India Bikaner Non-Raikas </a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">127</td><td align="center"></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Bikaner Raikas ">India Bikaner Raikas </a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">143</td><td align="center"></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Bombay">India Bombay</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">59</td><td align="center"> DPA1<img height="14" src="images/icon_gold.gif" width="14"/> DPB1<img height="14" src="images/icon_gold.gif" width="14"/> DQA1<img height="14" src="images/icon_silver.gif" width="14"/> DQB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Delhi">India Delhi</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">112</td><td align="center"> DPB1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Delhi pop 2">India Delhi pop 2</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">90</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Jalpaiguri Toto">India Jalpaiguri Toto</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">40</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Karnataka Kannada Speaking">India Karnataka Kannada Speaking</a></td><td align="center">Other</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">174</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Adiya">India Kerala Adiya</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">21</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Hindu Ezhava">India Kerala Hindu Ezhava</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">24</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Hindu Nair">India Kerala Hindu Nair</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">41</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Hindu Namboothiri">India Kerala Hindu Namboothiri</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">40</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Hindu Pulaya">India Kerala Hindu Pulaya</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">16</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Kanikkar">India Kerala Kanikkar</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">22</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Kattunaikka">India Kerala Kattunaikka</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">17</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Kurichiya">India Kerala Kurichiya</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">10</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Kuruma">India Kerala Kuruma</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">15</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Malabar Muslim">India Kerala Malabar Muslim</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">34</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Malapandaram">India Kerala Malapandaram</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">10</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Malayalam speaking">India Kerala Malayalam speaking</a></td><td align="center">Other</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">356</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Kerala Paniya">India Kerala Paniya</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">10</td><td align="center"> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Kerala Syrian Christian">India Kerala Syrian Christian</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">31</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Khandesh Region Pawra">India Khandesh Region Pawra</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">50</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Lucknow">India Lucknow</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">123</td><td align="center"> DPB1<img height="14" src="images/icon_silver.gif" width="14"/> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Lucknow pop 2">India Lucknow pop 2</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">120</td><td align="center"> E<img height="14" src="images/icon_gold.gif" width="14"/> G<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Mumbai Maratha">India Mumbai Maratha</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">91</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India New Delhi">India New Delhi</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">71</td><td align="center"> A<img height="14" src="images/icon_gold.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India New Delhi pop 2">India New Delhi pop 2</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">102</td><td align="center"> DQB1<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India North">India North</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">85</td><td align="center"> DRB1<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India North Gujarat">India North Gujarat</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">338</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/> DQB1<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India North pop 2">India North pop 2</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">72</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_gold.gif" width="14"/> C<img height="14" src="images/icon_bronze.gif" width="14"/> DQA1<img height="14" src="images/icon_bronze.gif" width="14"/> DQB1<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India North pop 3">India North pop 3</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">587</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Northeast Kayastha">India Northeast Kayastha</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">190</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Northeast Lachung">India Northeast Lachung</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">58</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Northeast Mathur">India Northeast Mathur</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">155</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_gold.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Northeast Mech">India Northeast Mech</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">63</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Northeast Rajbanshi">India Northeast Rajbanshi</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">98</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Northeast Rastogi">India Northeast Rastogi</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">196</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Northeast Shia">India Northeast Shia</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">190</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India Northeast Sunni">India Northeast Sunni</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">188</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Northeast Vaish">India Northeast Vaish</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">198</td><td align="center"> DQA1<img height="14" src="images/icon_gold.gif" width="14"/> DQB1<img height="14" src="images/icon_gold.gif" width="14"/> DRB1<img height="14" src="images/icon_silver.gif" width="14"/></td></tr>
<tr bgcolor="#ffffff">
<td><a href="pop6001c.asp?pop_name=India sub-Himalayan West Bengal Kami">India sub-Himalayan West Bengal Kami</a></td><td align="center">Caucasoid</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>
</td><td align="right">158</td><td align="center"> A<img height="14" src="images/icon_bronze.gif" width="14"/> B<img height="14" src="images/icon_bronze.gif" width="14"/> DRB1<img height="14" src="images/icon_bronze.gif" width="14"/></td></tr>
<tr bgcolor="#eeeeee">
<td><a href="pop6001c.asp?pop_name=India Tamil Nadu">India Tamil Nadu</a></td><td align="center">Asian</td><td>HLA</td><td>
<img alt="" src="images/pixel_hla.gif"/>

In [6]:
## create empty list
link_list = []
# Retrive all hyperlink from table 2
for i in container[1]:
    #print(i.find_all("a"))
    table_con = i.find_all("a")
type(table_con)

In [8]:
type(table_con)

bs4.element.ResultSet

In [10]:
# from tble con all list of link will be created.
for i in table_con: 
    link_list.append(str(i))
    #print(i)

In [12]:
# crete empty list to create proper link  
final_list=[]
for i in link_list:
    final_list.append('http://www.allelefrequencies.net/'+ i.split('">')[0][9:])

In [13]:
final_list

['http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Andhra Pradesh Brahmin',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Andhra Pradesh Golla',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Andhra Pradesh Sunni',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Andhra Pradesh Telugu Speaking',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Bikaner Non-Raikas ',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Bikaner Raikas ',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Bombay',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Delhi',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Delhi pop 2',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Jalpaiguri Toto',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Karnataka Kannada Speaking',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Adiya',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Hindu Ezhava',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Hindu Nair',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Hindu Namboothiri',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Hindu Pulaya',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Kanikkar',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Kattunaikka',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Kurichiya',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Kuruma',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Malabar Muslim',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Malapandaram',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Malayalam speaking',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Paniya',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Kerala Syrian Christian',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Khandesh Region Pawra',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Lucknow',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Lucknow pop 2',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Mumbai Maratha',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India New Delhi',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India New Delhi pop 2',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India North',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India North Gujarat',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India North pop 2',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India North pop 3',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Kayastha',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Lachung',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Mathur',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Mech',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Rajbanshi',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Rastogi',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Shia',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Sunni',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Northeast Vaish',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India sub-Himalayan West Bengal Kami',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Tamil Nadu',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Tamil Nadu Chennai',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Tamil Nadu Dravidian',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Tamil Nadu Nadar',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India Uttar Pradesh',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India West Bhil',
 'http://www.allelefrequencies.net/pop6001c.asp?pop_name=India West Coast Parsi']

In [14]:
len(final_list)

52

# retirive 2nd link

In [15]:
import requests
from lxml import html

In [16]:
# List to store the 2nd links from each page
link21_list = []

In [17]:
# Loop through each link in link_list
for link in final_list:
    # Send a request to the page and get the HTML content
    response = requests.get(link)
    content = response.content

    # Parse the HTML content using lxml
    parsed_content = html.fromstring(content)

    # Get all links on the page
    all_links = parsed_content.xpath('//a/@href')
    #print(len(all_links))
    # Check if the page has at least 21 links
    if len(all_links) >= 21:
        if all_links[18].startswith('hla'):
        # Get the 21st link and append it to link21_list
            link21_list.append('http://www.allelefrequencies.net/'+str(all_links[18]))
        else:
            # If there are fewer than 21 links, append an empty string to link21_list
            link21_list.append('http://www.allelefrequencies.net/'+str(all_links[19]))
    else:
        pass

# Print the list of 21st links
#print(link21_list)

In [18]:
# reuslt 
link21_list

['http://www.allelefrequencies.net/hla6006a.asp?hla_population=2440',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2040',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2441',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3434',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3550',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3549',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1278',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1776',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2255',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1998',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3622',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2186',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2180',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2178',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2182',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2177',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2188',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2189',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2187',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2190',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2181',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2185',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3620',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2184',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2179',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1297',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1388',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2664',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1298',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2045',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2623',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2500',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3035',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1524',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2838',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2469',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2475',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2470',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2476',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2477',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2471',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2473',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2474',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2472',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3720',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=3432',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2632',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2321',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1500',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=2263',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1296',
 'http://www.allelefrequencies.net/hla6006a.asp?hla_population=1247']

In [19]:
len(link21_list)

52

# create table

In [67]:
# List to store DataFrames for each page
df_list = []

In [69]:
# Loop through each link in link_list
for link in link21_list:
    # Send a request to the page and get the HTML content
    response = requests.get(link)
    content = response.content

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(content, 'html.parser')

    # Find the table on the page
    tables = soup.find('table',{'class':'tblNormal'})
    #print(tables)
    
    # Convert the table to a pandas DataFrame
    if tables:
        df_list.append(pd.read_html(str(tables))[0])
    # If the table does not exist, print a message and pass
    else:
        print("No table found on the page: ", link)
        continue 
                 

# Concatenate all the DataFrames into one DataFrame
final_df = pd.concat(df_list, ignore_index=True)

# Print the final DataFrame
print(final_df)

No table found on the page:  http://www.allelefrequencies.net/hla6006a.asp?hla_population=3550
No table found on the page:  http://www.allelefrequencies.net/hla6006a.asp?hla_population=3549
No table found on the page:  http://www.allelefrequencies.net/hla6006a.asp?hla_population=2664
      Line      Allele  Population                  Population.1  \
0        1     DRB1*01         NaN  India Andhra Pradesh Brahmin
1        2     DRB1*03         NaN  India Andhra Pradesh Brahmin
2        3     DRB1*04         NaN  India Andhra Pradesh Brahmin
3        4     DRB1*07         NaN  India Andhra Pradesh Brahmin
4        5     DRB1*08         NaN  India Andhra Pradesh Brahmin
...    ...         ...         ...                           ...
2988    96     B*58:01         NaN        India West Coast Parsi
2989    97     C*01:02         NaN        India West Coast Parsi
2990    98     C*01:04         NaN        India West Coast Parsi
2991    99  C*02:02:01         NaN        India West Coast Parsi
2992   100     C*02:03         NaN        India West Coast Parsi

      % of individuals  that have the allele  \
0                                        1.0
1                                        1.3
2                                        5.5
3                                       14.3
4                                        0.3
...                                      ...
2988                                     NaN
2989                                     NaN
2990                                     NaN
2991                                     NaN
2992                                     NaN

      Allele  Frequency  (in_decimals)  Allele  Frequency  (in_decimals).1  \
0                                0.020                                 NaN
1                                0.026                                 NaN
2                                0.107                                 NaN
3                                0.265                                 NaN
4                                0.005                                 NaN
...                                ...                                 ...
2988                             0.030                                 NaN
2989                             0.030                                 NaN
2990                             0.000                                 NaN
2991                             0.000                                 NaN
2992                             0.010                                 NaN

      Sample  Size IMGT/HLA¹  Database  Distribution²  \
0               98                 See            NaN
1               98                 See            NaN
2               98                 See            NaN
3               98                 See            NaN
4               98                 See            NaN
...            ...                 ...            ...
2988            50                 See            NaN
2989            50                 See            NaN
2990            50                 See            NaN
2991            50                 See            NaN
2992            50                 See            NaN

      Haplotype³  Association  Notesª
0                         NaN     NaN
1                         NaN     NaN
2                         NaN     NaN
3                         NaN     NaN
4                         NaN     NaN
...                       ...     ...
2988                      NaN     NaN
2989                      NaN     NaN
2990                      NaN     NaN
2991                      NaN     NaN
2992                      NaN     NaN

[2993 rows x 12 columns]

In [70]:
final_df

,Line,Allele,Population,Population.1,% of individuals that have the allele,Allele Frequency (in_decimals),Allele Frequency (in_decimals).1,Sample Size,IMGT/HLA¹ Database,Distribution²,Haplotype³ Association,Notesª
0,1,DRB1*01,NaN,India Andhra Pradesh Brahmin,1.0,0.020,NaN,98,See,NaN,NaN,NaN
1,2,DRB1*03,NaN,India Andhra Pradesh Brahmin,1.3,0.026,NaN,98,See,NaN,NaN,NaN
2,3,DRB1*04,NaN,India Andhra Pradesh Brahmin,5.5,0.107,NaN,98,See,NaN,NaN,NaN
3,4,DRB1*07,NaN,India Andhra Pradesh Brahmin,14.3,0.265,NaN,98,See,NaN,NaN,NaN
4,5,DRB1*08,NaN,India Andhra Pradesh Brahmin,0.3,0.005,NaN,98,See,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2988,96,B*58:01,NaN,India West Coast Parsi,NaN,0.030,NaN,50,See,NaN,NaN,NaN
2989,97,C*01:02,NaN,India West Coast Parsi,NaN,0.030,NaN,50,See,NaN,NaN,NaN
2990,98,C*01:04,NaN,India West Coast Parsi,NaN,0.000,NaN,50,See,NaN,NaN,NaN
2991,99,C*02:02:01,NaN,India West Coast Parsi,NaN,0.000,NaN,50,See,NaN,NaN,NaN
2992,100,C*02:03,NaN,India West Coast Parsi,NaN,0.010,NaN,50,See,NaN,NaN,NaN

In [55]:
df_list

[    Line   Allele  Population                  Population.1  \
 0      1  DRB1*01         NaN  India Andhra Pradesh Brahmin
 1      2  DRB1*03         NaN  India Andhra Pradesh Brahmin
 2      3  DRB1*04         NaN  India Andhra Pradesh Brahmin
 3      4  DRB1*07         NaN  India Andhra Pradesh Brahmin
 4      5  DRB1*08         NaN  India Andhra Pradesh Brahmin
 5      6  DRB1*09         NaN  India Andhra Pradesh Brahmin
 6      7  DRB1*10         NaN  India Andhra Pradesh Brahmin
 7      8  DRB1*11         NaN  India Andhra Pradesh Brahmin
 8      9  DRB1*12         NaN  India Andhra Pradesh Brahmin
 9     10  DRB1*13         NaN  India Andhra Pradesh Brahmin
 10    11  DRB1*14         NaN  India Andhra Pradesh Brahmin
 11    12  DRB1*15         NaN  India Andhra Pradesh Brahmin
 12    13  DRB1*16         NaN  India Andhra Pradesh Brahmin

     % of individuals  that have the allele  Allele  Frequency  (in_decimals)  \
 0                                      1.0                             0.020
 1                                      1.3                             0.026
 2                                      5.5                             0.107
 3                                     14.3                             0.265
 4                                      0.3                             0.005
 5                                      3.9                             0.077
 6                                      6.6                             0.128
 7                                      1.3                             0.026
 8                                      0.8                             0.015
 9                                      7.7                             0.148
 10                                     0.5                             0.010
 11                                     9.1                             0.173
 12                                     0.0                             0.000

     Allele  Frequency  (in_decimals).1  Sample  Size IMGT/HLA¹  Database  \
 0                                  NaN            98                 See
 1                                  NaN            98                 See
 2                                  NaN            98                 See
 3                                  NaN            98                 See
 4                                  NaN            98                 See
 5                                  NaN            98                 See
 6                                  NaN            98                 See
 7                                  NaN            98                 See
 8                                  NaN            98                 See
 9                                  NaN            98                 See
 10                                 NaN            98                 See
 11                                 NaN            98                 See
 12                                 NaN            98                 See

     Distribution²  Haplotype³  Association  Notesª
 0             NaN                      NaN     NaN
 1             NaN                      NaN     NaN
 2             NaN                      NaN     NaN
 3             NaN                      NaN     NaN
 4             NaN                      NaN     NaN
 5             NaN                      NaN     NaN
 6             NaN                      NaN     NaN
 7             NaN                      NaN     NaN
 8             NaN                      NaN     NaN
 9             NaN                      NaN     NaN
 10            NaN                      NaN     NaN
 11            NaN                      NaN     NaN
 12            NaN                      NaN     NaN  ,
     Line         Allele  Population                Population.1  \
 0      1        A*01:01         NaN  India Andhra Pradesh Golla
 1      2        A*02:01         NaN  India Andhra Pradesh Golla
 2      3     A*02:01:01         NaN  India Andhra Pradesh Golla
 3      4        A*02:06         NaN  India Andhra Pradesh Golla
 4      5        A*02:11         NaN  India Andhra Pradesh Golla
 ..   ...            ...         ...                         ...
 75    76     DRB1*15:01         NaN  India Andhra Pradesh Golla
 76    77  DRB1*15:01:01         NaN  India Andhra Pradesh Golla
 77    78  DRB1*15:01:02         NaN  India Andhra Pradesh Golla
 78    79  DRB1*15:02:01         NaN  India Andhra Pradesh Golla
 79    80  DRB1*15:02:02         NaN  India Andhra Pradesh Golla

     % of individuals  that have the allele  Allele  Frequency  (in_decimals)  \
 0                                      NaN                             0.125
 1                                      NaN                             0.034
 2                                      NaN                             0.023
 3                                      NaN                             0.028
 4                                      NaN                             0.097
 ..                                     ...                               ...
 75                                     NaN                             0.060
 76                                     NaN                             0.005
 77                                     NaN                             0.005
 78                                     NaN                             0.060
 79                                     NaN                             0.028

     Allele  Frequency  (in_decimals).1  Sample  Size IMGT/HLA¹  Database  \
 0                                  NaN           111                 See
 1                                  NaN           111                 See
 2                                  NaN           111                 See
 3                                  NaN           111                 See
 4                                  NaN           111                 See
 ..                                 ...           ...                 ...
 75                                 NaN           111                 See
 76                                 NaN           111                 See
 77                                 NaN           111                 See
 78                                 NaN           111                 See
 79                                 NaN           111                 See

     Distribution²  Haplotype³  Association  Notesª
 0             NaN                      NaN     NaN
 1             NaN                      NaN     NaN
 2             NaN                      NaN     NaN
 3             NaN                      NaN     NaN
 4             NaN                      NaN     NaN
 ..            ...                      ...     ...
 75            NaN                      NaN     NaN
 76            NaN                      NaN     NaN
 77            NaN                      NaN     NaN
 78            NaN                      NaN     NaN
 79            NaN                      NaN     NaN

 [80 rows x 12 columns],
     Line   Allele  Population                Population.1  \
 0      1  DRB1*01         NaN  India Andhra Pradesh Sunni
 1      2  DRB1*03         NaN  India Andhra Pradesh Sunni
 2      3  DRB1*04         NaN  India Andhra Pradesh Sunni
 3      4  DRB1*07         NaN  India Andhra Pradesh Sunni
 4      5  DRB1*08         NaN  India Andhra Pradesh Sunni
 5      6  DRB1*09         NaN  India Andhra Pradesh Sunni
 6      7  DRB1*10         NaN  India Andhra Pradesh Sunni
 7      8  DRB1*11         NaN  India Andhra Pradesh Sunni
 8      9  DRB1*12         NaN  India Andhra Pradesh Sunni
 9     10  DRB1*13         NaN  India Andhra Pradesh Sunni
 10    11  DRB1*14         NaN  India Andhra Pradesh Sunni
 11    12  DRB1*15         NaN  India Andhra Pradesh Sunni
 12    13  DRB1*16         NaN  India Andhra Pradesh Sunni

     % of individuals  that have the allele  Allele  Frequency  (in_decimals)  \
 0                                      2.0                             0.040
 1                                      2.5                             0.050
 2                                      5.4                             0.105
 3                                      7.3                             0.140
 4                                      0.3                             0.005
 5                                      4.6                             0.090
 6                                      3.1                             0.060
 7                                      3.1                             0.060
 8                                      1.5                             0.030
 9                                      6.7                             0.130
 10                                     2.8                             0.055
 11                                    11.7                             0.220
 12                                     0.8                             0.015

     Allele  Frequency  (in_decimals).1  Sample  Size IMGT/HLA¹  Database  \
 0                                  NaN           100                 See
 1                                  NaN           100                 See
 2                                  NaN           100                 See
 3                                  NaN           100                 See
 4                                  NaN           100                 See
 5                                  NaN           100                 See
 6                                  NaN           100                 See
 7                                  NaN           100                 See
 8                                  NaN           100                 See
 9                                  NaN           100                 See
 10                                 NaN           100                 See
 11                                 NaN           100                 See
 12                                 NaN           100                 See

     Distribution²  Haplotype³  Association  Notesª
 0             NaN                      NaN     NaN
 1             NaN                      NaN     NaN
 2             NaN                      NaN     NaN
 3             NaN                      NaN     NaN
 4             NaN                      NaN     NaN
 5             NaN                      NaN     NaN
 6             NaN                      NaN     NaN
 7             NaN                      NaN     NaN
 8             NaN                      NaN     NaN
 9             NaN                      NaN     NaN
 10            NaN                      NaN     NaN
 11            NaN                      NaN     NaN
 12            NaN                      NaN     NaN  ,
     Line         Allele  Population                          Population.1  \
 0      1     A*01:01:01         NaN  India Andhra Pradesh Telugu Speaking
 1      2     A*02:01:01         NaN  India Andhra Pradesh Telugu Speaking
 2      3     A*02:03:01         NaN  India Andhra Pradesh Telugu Speaking
 3      4     A*02:06:01         NaN  India Andhra Pradesh Telugu Speaking
 4      5        A*02:09         NaN  India Andhra Pradesh Telugu Speaking
 ..   ...            ...         ...                                   ...
 95    96     C*16:02:01         NaN  India Andhra Pradesh Telugu Speaking
 96    97  DQB1*02:01:01         NaN  India Andhra Pradesh Telugu Speaking
 97    98  DQB1*02:02:01         NaN  India Andhra Pradesh Telugu Speaking
 98    99  DQB1*03:01:01         NaN  India Andhra Pradesh Telugu Speaking
 99   100  DQB1*03:02:01         NaN  India Andhra Pradesh Telugu Speaking

     % of individuals  that have the allele  Allele  Frequency  (in_decimals)  \
 0                                     28.5                            0.1479
 1                                      6.5                            0.0323
 2                                      4.8                            0.0242
 3                                      2.7                            0.0134
 4                                      1.1                            0.0054
 ..                                     ...                               ...
 95                                     7.0                            0.0376
 96                                     9.7                            0.0484
 97                                    17.2                            0.0860
 98                                    21.5                            0.1129
 99                                    21.0                            0.1263

     Allele  Frequency  (in_decimals).1  Sample  Size IMGT/HLA¹  Database  \
 0                                  NaN           186                 See
 1                                  NaN           186                 See
 2                                  NaN           186                 See
 3                                  NaN           186                 See
 4                                  NaN           186                 See
 ..                                 ...           ...                 ...
 95                                 NaN           186                 See
 96                                 NaN           186                 See
 97                                 NaN           186                 See
 98                                 NaN           186                 See
 99                                 NaN           186                 See

     Distribution²  Haplotype³  Association  Notesª
 0             NaN                      NaN     NaN
 1             NaN                      NaN     NaN
 2             NaN                      NaN     NaN
 3             NaN                      NaN     NaN
 4             NaN                      NaN     NaN
 ..            ...                      ...     ...
 95            NaN                      NaN     NaN
 96            NaN                      NaN     NaN
 97            NaN                      NaN     NaN
 98            NaN                      NaN     NaN
 99            NaN                      NaN     NaN

 [100 rows x 12 columns]]